.container {
    display: flex;
    width: 100%;
    min-height: 100vh;
    height: auto;
    justify-content: center;
    align-items: center;
}

.form {
    display: flex;
    width: 80%;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top {
    display: flex;
    justify-content: center;
    width: 60%;
}

.nameInput, .ingredientInputs, .contentInput {
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    justify-content: center;
}

.nameInput{
    display: inline-flex;
    width: 49%;
    float: left;
}

.nameInput .title {
    display: inline-block;
    color: white;
    width: 100%;
    text-align: center;
    font-size: 30px;
}

.nameInput input {
    width: 80%;
    height: 30px;
    border-radius: 15px;
    margin-bottom: 20px;
    padding: 3px;
    padding-left: 10px;
    font-size: 15px;
}

.category {
    display: inline-flex;
    width: 49%;
    float: left;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
}

.category .title {
    display: block;
    color: white;
    width: 100%;
    text-align: center;
    font-size: 30px;
}

.form .top .category select {
    display: block;
    height: 30px;
    width: 80%;
    margin-bottom: 20px;
    padding: 3px;
    font-size: 15px;
    border-radius: 15px;
}

.middle {
    width: 100%;
}

.ingredientInputs {
    display: flex;
    width: 100%;
    align-items: center;
}

.ingredientInputs .ingredientValue {
    display: inline-block;
    width: 10%;
}

.ingredientInputs .ingredientName {
    display: inline-block;
    width: 25%;
}

.ingredientName, .ingredientValue .title {
    display: inline-block;
    color: white;
    width: 100%;
    text-align: center;
    font-size: 30px;
}

.ingredientValue input {
    display: block;
    margin: auto auto;
    width: 120px;
    height: 30px;
    border-radius: 10px;
    padding-left: 5px;
} 

.ingredientName input {
    display: block;
    margin: auto auto;
    width: 300px;
    height: 30px;
    border-radius: 10px;
    padding-left: 5px;
}

.submitIngredient {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin-left: 20px;
    margin-top: 80px;
    font-weight: bold;
    background-color: rgb(24, 197, 38);
    box-shadow: inset 0em 0em 0.5em 0.4em rgb(154, 235, 154);
}

.submitIngredient:hover {
    cursor: pointer;
}

.ingredientsWrapper {
    background-color: bisque;
    height: 150px;
    border-radius: 20px;
    width: 80%;
    margin: 10px auto;
    margin-bottom: 0;
    padding: 10px;
}

.contentInput .title {
    display: inline-block;
    color: white;
    width: 100%;
    text-align: center;
    font-size: 30px;
}


.contentInput textarea {
    width: 100%;
    height: 200px;
    border-radius: 15px;
    padding: 3px;
    padding-left: 10px;
    font-size: 15px;
}

.submit {
    width: 170px;
    height: 50px;
    border-radius: 15px;
    background-color: rgb(32, 228, 32);
    border: none;
    box-shadow: inset 0em 0em 0.5em 0.4em rgb(154, 235, 154);
    font-size: 20px;
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 15px;
}

.submit:hover {
    cursor: pointer;
    background-color: rgb(34, 185, 34);
}